<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ImageCropCompressorH5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
</head>

<body class="index">
    <input type="file" id="file_input" accept="image/*">
    <img class="result" style="display:none; max-width:300px;" />
    <script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="index"></script>
</body>

</html>
