<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ImageCropCompressorH5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
</head>

<body class="index">
    <input type="file" id="file_input_1" accept="image/*">
    <input type="file" id="file_input_2" accept="image/*">
    <img class="result_1" style="display:none; max-width:200px; border:solid 5px #ff0000" />
    <img class="result_2" style="display:none; max-width:300px; border:solid 5px #ffff00" />
    <script type="text/javascript" src="/widget/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/widget/lib/exif.js"></script>
    <script type="text/javascript" src="/widget/lib/ImageCropCompressorH5.js"></script>
    <script type="text/javascript" src="/widget/app/index2.js"></script>
    <script type="text/javascript">
    $(function() {
        index.init();
    });
    </script>
</body>

</html>
